<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h3>
    This is the Contact page to the creator of the
    <a href="http://www.railstutorial.org/">Event Calendar</a>.
  </h3>
</div>