<li id="event-<%= event.id %>">
  <div class="name"><%= link_to event.name, event %></div>
  <div class="timestamp">
    <%= event.datetime.strftime("%d.%m.%Y %H:%M") %>
  </div>
  <% if event.content != '' %>
  	<div class="content"><%= event.content %></div>
	<% end %>
</li>