<li id="event-<%= event.id %>">
  <div class="content">Name: <br><span><%= link_to event.name, event %></span></div>
  <div class="timestamp">
    Date: <%= event.datetime.strftime("%d.%m.%Y") %>
  </div>
  <div class="timestamp">
    Time: <%= event.datetime.strftime("%H:%M") %>
  </div>
</li>